# Установите для всех файлов автоматическое определение концов строк
* text=auto

# Для конкретных файлов можно указать явно
*.html text
*.css text
*.js text
*.md text

# Для бинарных файлов отключите преобразование
*.png binary
*.jpg binary
*.gif binary
